<app-contact *ngIf="contact && state !== editorState.editing" [contact]="contact"></app-contact>

<app-contact-form *ngIf="contact && state === editorState.editing" [contact]="contact" (onSubmit)="updateContact($event, id)">
</app-contact-form>

<button type="button" class="edit"
        (click)="toggleEditing()"
        [hidden]="state === editorState.deleted">
  {{ state === editorState.editing ? 'Cancel' : 'Edit contact' }}
</button>

<button type="button"
        (click)="deleteContact(id)"
        [hidden]="state === editorState.deleted"
        class="delete">
  Delete contact
</button>

<p [hidden]="state !== editorState.updated" class="updatemessage">
  Contact update successful.
</p>

<p [hidden]="state !== editorState.deleted" class="deletemessage">
  Contact deleted.
</p>
