<form [formGroup]="form" (ngSubmit)="submit(form)">
  <input type="text" name="name" placeholder="Name" formControlName="name">
  <p *ngIf="form.get('name').hasError('minlength')" class="error">Minimum 3 characters</p>
  <p *ngIf="form.get('name').hasError('required')" class="error">Required.</p>

  <input type="email" name="email" placeholder="name@domain.be" formControlName="email">
  <p *ngIf="form.get('email').hasError('pattern')" class="error">Invalid email.</p>
  <p *ngIf="form.get('email').hasError('required')" class="error">Required.</p>

  <input type="tel" name="phone" placeholder="Phone Number" formControlName="phone">
  <p *ngIf="form.get('phone').hasError('minlength')" class="error">Minimum 9 characters.</p>
  <p *ngIf="form.get('phone').hasError('required')" class="error">Required.</p>

  <input type="text" name="avatar" placeholder="avatar url" formControlName="avatar">

  <input type="checkbox" name="favorite" id="favorite" formControlName="isFavorite">
  <label for="favorite">Favorite</label><br>

  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
